{{ code_block('setup') }}



<footer class="footer-landing mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul>
		<li><a href="{{ theme.socialFacebookUrl }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
		<li><a href="{{ theme.socialTwitterUrl }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a href="{{ theme.socialInstagramUrl }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
		<li><a href="{{ site_url('terms-of-service') }}" >Terms of Service</a></li>
		<li><a href="{{ site_url('privacy-policy') }}" >Privacy Policy</a></li>
		<li><a href="{{ site_url('faqs') }}" >FAQs</a></li>
		<li><a href="{{ site_url('roadmap') }}" >Product Roadmap</a></li>
		<li><a class="letsspeak" href="#letsspeak" >Need Help? Speak To Us</a></li>
    </ul>
  </div>


  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
		  <div class="mdl-logo">
				
				A venture by <a href="//cappui.com/#cheesemix"><Img src="//s3-eu-west-1.amazonaws.com/cheesemix/assets/Logo-Cappui-Dark-Blue.svg" /></a>
 
		  </div>
    </ul>
  </div>
</footer>








