{{ code_block('setup') }}


<!-- Uses a footer that scrolls with the text, rather than staying
  locked at the top -->
  <footer id="footer" class="footer">
    <div class="footer-container">

       <div class="left">
        <!-- Navigation -->
      <nav class="navigation">

	    <ul>
			<li><a href="{{ theme.socialFacebookUrl }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="{{ theme.socialTwitterUrl }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="{{ theme.socialInstagramUrl }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
			<li><a href="{{ site_url('terms-of-service') }}" >Terms of Service</a></li>
			<li><a href="{{ site_url('privacy-policy') }}" >Privacy Policy</a></li>
			<li><a href="{{ site_url('faqs') }}" >FAQs</a></li>
			<li><a href="{{ site_url('roadmap') }}" >Product Roadmap</a></li>
			<li><a class="letsspeak" href="#letsspeak" >Need Help? Speak To Us</a></li>

	    </ul>

      </nav>

       </div>
   


     <div class="right">
  
		  <div class="logo">
	 
		  </div>

      </div>

    </div>
        <div class="footer-container">

       <div class="left">
        <!-- Navigation -->
      <nav class="navigation">

	    <ul>
			<li><p>Cheesemix Limited</p></li>
			
	    </ul>

      </nav>

       </div>
   


     <div class="right">

        <p><a href="//cheesemix.com/#footer">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <Img src="//cheesemix.imgix.net/assets/images/site/footer/cheesemix-white-logo.svg" /></a></p>

      </div>

    </div>
  </footer>
