<script src="//code.jquery.com/jquery-2.1.4.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<script src="/cms/core.js"></script>
<script src="{{ 'js/main.js'|theme_resource }}"></script>
<script src="{{ 'js/site.js'|theme_resource }}"></script>
<script src="{{ 'js/modernizer.js'|theme_resource }}"></script>
<script src="{{ 'js/cheesemix-nav.js'|theme_resource }}"></script>

<script src="{{'js/jquery.dynatable.js' | theme_resource }}"></script>
<script src="{{ 'js/jquery.creditCardValidator.js'|theme_resource }}"></script>
<script src="{{ 'js/jquery.fluidbox.min.js'|theme_resource }}"></script>
<script src="{{ 'js/unslider.js'|theme_resource }}"></script>



<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("hHHDTvid4iFl7Mr0sYNkwpJRP9c7ruCm");
  analytics.ready(function(){
    drift.on('ready',function(api){
      // interact with the api here
    })
  })
  analytics.track("Someone joined The Cheesemix Milestone Campaign", {
  "First name": "{{ customer.first_name }}",
  "Last name": "{{ customer.last_name }}",
  "Email": "{{ customer.email }}"
  })
  analytics.track("Someone Joined The Cheesemix Waitlist", {
  "First name": "{{ customer.first_name }}",
  "Last name": "{{ customer.last_name }}",
  "Email": "{{ customer.email }}"
  });
  analytics.page();
  }}();
</script>


<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('wh5bmd6ie47z');
</script>
<!-- End of Async Drift Code -->



<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};

  _dcs.account = '6291810'; 
  
  _dcq.push(["identify", {
    email: "{{ customer.email }}",
    first_name: "{{ customer.first_name }}",
    last_name: "{{ customer.last_name }}",
    tags: ["{{ customer.customerGroups }}"]
  }]);

 
  
  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true; 
    dc.src = '//tag.getdrip.com/6291810.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>

 
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/92351/script.js');
</script>



<!-- Start of Async Fullstory Code -->
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'www.fullstory.com';
window['_fs_org'] = '3GSJS';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
    ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');


FS.identify('{{ customer.id }}', {
  displayName: '{{ customer.first_name }} {{ customer.last_name }}',
  displayGroup: '{{ customer.customerGroups }}',
  email: '{{ customer.email }}'
});
</script>
<!-- End of Async Fullstory Code -->




<script>(function(n,t,i,r){var u,f;n[i]=n[i]||{},n[i].initial={accountCode:"CAPPU11112",host:"CAPPU11112.pcapredict.com"},n[i].on=n[i].on||function(){(n[i].onq=n[i].onq||[]).push(arguments)},u=t.createElement("script"),u.async=!0,u.src=r,f=t.getElementsByTagName("script")[0],f.parentNode.insertBefore(u,f)})(window,document,"pca","//CAPPU11112.pcapredict.com/js/sensor.js")</script>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59371247acdb9f85"></script>


 

<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<script>
window._dcq = window._dcq || [];
window._wq = window._wq || [];
_wq.push({"_all": function(video){
  video.bind("conversion", function(type, email, firstName, lastName) {
    _dcq.push(["identify", {
      email: email,
      first_name: firstName,
      last_name: lastName
    }]);
    _dcq.push(["track", "Submitted Wistia Turnstile", { video: video.name() }]);
  });
}});
</script>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1914990308735477";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/Yh3jqWY5FkeglEXJCngCpJY91hN9V04hVGRqDVHE/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>


<script async src="//static.addtoany.com/menu/page.js"></script>



