
<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">

       <div class="medium-5">
        <!-- Navigation -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">

        {% if customer %}

        <li><a href="{{ site_url('profile') }}"><i class="fa fa-user"></i> My Account</a></li>
        <!-- <li class="{{ active_page == 'orders' ? 'active' : null }}"><a href="{{ site_url('orders') }}">My Orders</a></li> -->
        <li class="{{ active_page == 'subscriptions' ? 'active' : null }}"><a href="{{ site_url('subscriptions') }}"><i class="fa fa-tag"></i> My Subscriptions</a></li>
        {% else %}
        <button href="" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Sign-up
        </button>
        <a class="mdl-navigation__link live" href="{{ site_url('login') }}">Login</a>
      </nav>

      {% endif %}

       </div>
      <div class="large-2 logo-center">
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/" class="navbar-brand"><img src="//s3-eu-west-1.amazonaws.com/cheesemix/assets/Cheesemix-Typeface-Logo.svg"></a></span>
      </div>


     <div class="medium-5">
      <!-- Navigation -->
      <nav class="mdl-navigation fright mdl-layout--large-screen-only">
        <a class="mdl-navigation__link live" href="">About Us</a>
        <a class="mdl-navigation__link live" href="">Our Cheese Makers</a>
      </nav>
    </div>
    </div>
    


  </header>


</div>
 