{{ code_block('setup') }}

	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ theme.storeTitle }}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<meta name="Description" content="{{ page.description }}"/>
  	<meta name="Keywords" content="{{ page.keywords }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    

    <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="When Great Minds Don’t Think Alike" />
    <meta property="og:description"        content="How much does culture influence creative thinking?" />
    <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
    

    <link rel="shortcut icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">
    <link rel="icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">
    
    <!-- Required by LemonStand -->    
    <link rel="stylesheet" type="text/css" href="/cms/core.css">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="{{ 'css/main.css'|theme_resource }}">
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|theme_resource }}" >
 

    <link href="//fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
   
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>

    <!-- Proof | Real-time conversion signals -->
    <script id=proof-script>!function(){function b(){var a=(new Date).getTime(),b=document.createElement('script');b.type='text/javascript',b.async=!0,b.src='https://cdn.getmoreproof.com/embed/latest/proof.js?'+a;var c=document.getElementsByTagName('script')[0];c.parentNode.insertBefore(b,c)}var a=window;a.attachEvent?a.attachEvent('onload',b):a.addEventListener('load',b,!1),window.proof_config={acc:'M00exQsGbzUi3JRZDNyP0GdZJth1', v:'1.1'}}()</script>
    <!-- End Proof -->
