<div class="full-width-section newsletter-signup">
  <div class="grid--one">
    <div class="fast_fact__column full-width-grid--ones-single-column">

      <div class="newsletter-content">
  
          {{ widget_block("newsletter-signup-bottom-deal")}}
      
      </div>
    
    </div>
  </div>
</div>




<div class="full-width-section footer-marketing">
  <div class="grid--two">
    <div class="fast_fact__column full-width-grid--threes-column marketing br-b">

      <div class="marketing-content social-follow">

          <img src="//cheesemix.imgix.net/assets/images/site/main-assets/Amy-The-Hedgehog.png">
      		<h1>#LOVECHEESEMIX</h1>
      		<p>Share your cheese moment with us. If we love it we'll repost it. And you may even win a cheesecube or a years supply!</p>
    	  <a class="btn-mix content" href="//instagram.com/thecheesemix"><i class="fa fa-instagram" aria-hidden="true"></i> Share Your Moment</a>
      </div>
    
    </div>

      <div class="fast_fact__column full-width-grid--threes-column marketing br-b">

      <div class="marketing-content social-follow">

      <img src="//cheesemix.imgix.net/assets/images/site/main-assets/Social-Media-Follow.svg">

  		<h1>Follow us. Your awesome!</h1>
  		<p>We really take our cheese and dairy seriously!</h4>
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow">
		    <a class="a2a_button_twitter" data-a2a-follow="TheCheesemix"></a>
		    <a class="a2a_button_facebook" data-a2a-follow="cheesemix"></a>
		    <a class="a2a_button_instagram" data-a2a-follow="TheCheesemix"></a>
		</div>


      </div>
    </div>

      <div class="fast_fact__column full-width-grid--threes-column payments">
  
	      <div class="marketing-content pay-delivery">
	  		<h2>SECURE PAYMENTS</h2>
			<span><img src="https://cheesemix.imgix.net/assets/images/site/main-assets/visa.png"> <img src="https://cheesemix.imgix.net/assets/images/site/main-assets/paypal.png"> <img src="https://cheesemix.imgix.net/assets/images/site/main-assets/master-card.png"> <img src="https://cheesemix.imgix.net/assets/images/site/main-assets/maestro.png"> <img src="https://cheesemix.imgix.net/assets/images/site/main-assets/jcb.png"> <img src="https://cheesemix.imgix.net/assets/images/site/main-assets/discover.png"> <img src="https://cheesemix.imgix.net/assets/images/site/main-assets/visa-electron.png"></span>
			 
			<h2>DELIVERY INFORMATION</h2>
			<p>You will receive your cheesecube at the <strong>end of each month</strong>. Your cheesecube will be <strong>delviered by a DPD courier</strong>. Where you will be sent a text and email with your <strong>tracking number</strong> and <strong>reference number</strong>. + Read More Here</p>
      
      <div class="as-track-button" data-size="large" data-domain="cheesemix.aftership.com" data-slug="dpd"></div>
		 

	      </div>
 
     
    
    </div>
  </div>
</div>
