---
description: 'Payment form partial for Braintree payment method'
---


    {% set hiddenFields = paymentMethod.getPaymentModuleObj().getHiddenFields(paymentMethod, payment) %}





<form method="post" action="" data-ajax-handler="shop:onPay">
  <div class="payment-card">
    <input type="hidden" value="{{  paymentMethod.id}}" name="payment_method_id">
    <div class="form">
        <div class="row">
        
          <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              

              <label for="cardholderName">Cardholder Name</label>
              <input autocomplete="off" name="cardholderName" value="" id="cardholderName" type="text" class="fs-hide mdl-textfield__label" placeholder="Cardholder Name"/>
              <span class="error small text-danger"></span> 
          </div>
          <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

              <label class="mdl-textfield__label" for="cardNumber">Credit Card Number</label>
              <input autocomplete="off" name="cardNumber" value="" id="cardNumber" type="text" class="fs-hide mdl-textfield__label credit-card-input" placeholder="Credit Card Number"/>
              <span class="error small text-danger"></span> 
          </div>
          <div class="small-2 helper mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input autocomplete="off" name="securityCode" value="" id="securityCode" type="text" class="fs-hide mdl-textfield__label" placeholder="Card Verification Value (CVV)"/>
              <span class="error small text-danger"></span> 
              <label  class="mdl-textfield__label" for="securityCode">
                  (CVV)
              </label>
              <i class="fa fa-question" data-container="body" data-toggle="popover" data-placement="top" data-content="For MasterCard, Visa, and Discover, the CSC is the last three digits in the signature area on the back of your card. For American Express, it's the four digits on the front of the card."></i>
          </div>
          <div class="small-3 form-group mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">

                <select id="expiryMonth" name="expiryMonth" class="fs-hide mdl-selectfield__select">
                {% for i in 1..12 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select>
                <span class="error small  text-danger"></span> 
                <label class="mdl-selectfield__label" for="expiryMonth">Expiration Date - Month</label>
          </div>
          <div class="small-3 mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label form-group">
                <select autocomplete="off" name="expiryYear" id="expiryYear" class="fs-hide mdl-selectfield__select">
                    {% for i in 2014..2034 %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <span class="error small text-danger"></span> 
                <label class="mdl-selectfield__label" for="expiryYear">Expiration Date - Year</label>
          </div>
          
        </div>
    </div>
    </div><!-- End .payment-card -->

  <div class="clearfix">
      <input type="hidden" name="saveCard" value="1" />
      <button type="submit" class="btn-mix pull-right">Pay Now</button>
      <a class="btn btn-default pull-left data-ajax-url"
        id="previous-shipping-method"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout, #checkout-progress=shop-checkout-progress, #mini-cart=shop-minicart"
        data-ajax-extra-fields="nextStep=billing_info"
        data-hash="step-2"><i class="fa fa-arrow-left"></i> Previous Step</a>
    </div>

</form>