---
name: shop-passwordrestorerequest
---
{{ flash() }}
{% if invalidHash %}
    <span class="error">Invalid or expired link.</span>
{% endif %}

  <div class="center" ><p>Please enter your email below, we will send you an email message with a link to enter a new password for your account. Or <a href="{{ site_url('login') }}">Log in here</a></p></div>
   <div class="form-group">
          <div class="small-12 small-centered mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

          <label class="mdl-textfield__label" for="password">Your Account Email</label>        
          <br>
          <input class="fs-hide mdl-textfield__input" type="text" id="email" name="email" class="form-control" placeholder="a.liddel@example.com">

          <span class="error"></span>
      </div>
  </div>


  <div class="form-group">
    <div class="small-12 small-centered">
     <input type="hidden" name="requestPasswordRestore" value="1">
      <input type="hidden" name="successMessage" value="Password restore email was sent."/>
     <input type="submit" class="btn-mix" style="margin-top:0" value="Submit" name="passwordRestoreSubmit"/>

      </div>
  </div>


