 
 
             
            {% for index, option in product.options %}
  
              {% if loop.index == 2 %}
            
      
                  <span class="col-md-12 custom-dropdown option-dropdown">
                  <select id="{{ 'option-'~index }}" name="options[{{ option.id }}]" class="select-option" data-ajax-handler="shop:product" data-ajax-update="#update-product=product-prepaid">
                    {% for key, value in option.values %}
                    
                     
                      <option value="{{ key }}" {{ option_state(postedOptions[option.id], key) }}>{{ value }}</option>
                         
                       
                    {% endfor %}
                  </select>
                  </span>
           
                    
                
                 {% endif %}
              {% endfor %}
        


   
