{% set on_sale = product.onSale %}

<div class="medium-12 columns">
	<div class="medium-9 columns img-thumb">

	</div>
	<div class="medium-12 columns">
		{% for image in product.images %}
			<div class="medium-3 columns img-thumb">
				
			</div>


			 
		{% endfor %}
	</div>
	 
</div>

<div class="medium-12 columns">
	<div class="medium-9 columns">
		<h1 class="uppercase">{{ product.name }}</h1> 
		
		<h3 id="why" class="price">{{ product.price|currency }}</h3>
		{% if on_sale %}
			<small class="previous-price">{{ totals.total|currency }}</small>
		{% endif %} 
		<hr>
		<p>{{product.description|unescape}}</p>
		<hr>
	</div>
	{% if product.enabled %}	
		{{ partial('shop-product-attributes') }}
		{{ partial('shop-product-extras') }}
		{{ partial('shop-product-options') }}
		<br>
	{% if not product.isOutOfStock() or product.allow_preorder %}


 
		<div class="product-options medium-6">
			<p class="title" for="billing_plan">Subscription plan</p>
			<span class="medium-12">
			

		 
			</span>
		<input type="hidden" name="productId" value="{{ product.id }}"/>
	      <div class="add-cart-holder form-group medium-12">
				{{ flash() }}
				<!-- <input type="hidden" name="subscribeRedirect" value="/checkout"> -->
				<a class="button btn-important btn-add-cart pull-right" href="#" 
				data-ajax-handler="shop:onAddToCart" 
				data-ajax-update="#shop-product=shop-product, #mini-cart=shop-minicart-totals" 
				data-ajax-extra-fields="subscribe=1, noFash=0"
				data-ajax-redirect="{{ site_url('checkout') }}">Subscribe</a>
			</div>
		</div>
  </div>
</div>


    {% else %}
      <div class="not-available">
        <h5>This product is temporarily unavailable</h5>
      </div>
    {% endif %}
	    
	{% else %}
	<div class="not-available">
	  <h5>This product is not available</h5>
	</div>
  {% endif %}
</div>





