{% for item in items %}
<div id="cart-row">
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>QTY</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>				
      	<a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail('auto', 'auto') }}" alt="{{ item.product.name }}">
      	<span>{{ item.product.name }}</span></a>
     
	  </td>
      <td><span>{{ item.price|currency }}</span></td>
      <td><span>{{ item.quantity }}</span></td>
      <td><span>{{ item.total()|currency }}</span></td>
    </tr>
  </tbody>
</table>
			
			<div class="small-10" style="padding-right:0px;">
		 


        {% if item.on_sale %}
			<small>On Sale</small>
		{% endif %} 
 			</div>
		</div>
{% endfor %}
