<div class="mix-pane-left-signup">
  {% if step == 'billing_info' %}
    {% set inputs %}
      <input type="hidden" name="step" value="billing_info,shipping_info">
      <input type="hidden" name="nextStep" value="pay"/>
    {% endset %}
  {% elseif step == 'pay' %}
      <input type="hidden" name="step" value="pay">
  {% endif %}

<div class="row">

<div class="small-9 small-centered">


    <div class="auth-logo">
         <img src="//s3-eu-west-1.amazonaws.com/cheesemix/assets/images/Heron.svg">
    </div>

    <p id="title-p">Lets Finish This Order.</p>

     <div><p>If you are stuck or having issues or need some help. Speak to a cheesemix wizard in real time now. By <a class="letsspeak" href="#letsspeak">clicking me</a>.</p></div>


<div class="checkout-tab" id="shop-address">
  <div class="checkout-tab-bar row">
    <div class="medium-6 columns">
      <p>
        {% if step == 'billing_info' %}
          <i class="fa fa-circle-thin"></i>
          Step 1: Billing/Shipping Address
        {% elseif step == 'shipping_method' %}
          <i class="fa fa-check goback-icon"></i>
          <a class="goback-tab data-ajax-url"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout"
        data-ajax-extra-fields="nextStep=billing_info"
        data-hash="step-1">Step 1: Billing/Shipping Address</a>
        {% elseif step == 'pay' %}
          <i class="fa fa-check goback-icon"></i>
          <a class="goback-tab data-ajax-url"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout"
        data-ajax-extra-fields="nextStep=billing_info"
        data-hash="step-1">Step 1: Billing/Shipping Address</a>
        {% endif %}

      </p>
    </div>
    <div class="medium-6 columns text-right">
      {% if step == 'billing_info' %}
        <span class="status">In Progress</span>
      {% elseif step == 'shipping_method' %}
        <span class="status  goback-icon">Complete</span>
      {% elseif step == 'pay' %}
        <span class="status  goback-icon">Complete</span>
      {% endif %}
    </div>
  </div>
{% if step == 'billing_info' %}
  <div class="checkout-content checkout-open">
{% elseif step == 'shipping_method' %}
  <div class="checkout-content ">
{% elseif step == 'pay' %}
  <div class="checkout-content ">
{% endif %}

<div id="address-form">

{{ open_form({'class': 'custom', 'data-validation-message' : ''}) }}
  <div class="medium-12" style="padding-bottom: 0;">
    <div class="small-12 medium-12">

      <p id="title-p-d">

      Billing Address
        <span class="fa-stack" style="visibility:hidden;">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x"></i>
            </span>
      </p>

      <div id="billing-info" class="row">
        <div class="form-group">
          <div class="small-6 columns mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="billing_firstName">First Name *</label>
            </br>
            <input data-mirror type="text" class="fs-hide mdl-textfield__input " name="billingInfo[firstName]" id="billing_firstName" value="{{ billingInfo.firstName }}"  />
            <span class="error small text-danger"></span>

          </div>
       </div>
       <div class="form-group">
         <div class="small-6 columns mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label  class="mdl-textfield__label"  for="billing_lastName">Last Name *</label>
            </br>
            <input data-mirror type="text" class=" fs-hide mdl-textfield__input" name="billingInfo[lastName]" id="billing_lastName" value="{{ billingInfo.lastName }}" />
            <span class="error small text-danger"></span>
          </div>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label  class="mdl-textfield__label"  for="billing_email">E-mail Address *</label>
          </br>
          <input type="email" class=" fs-hide mdl-textfield__input" name="billingInfo[email]" id="billing_email" value="{{ billingInfo.email }}" />
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label  class="mdl-textfield__label"  for="billing_phone">Phone Number *</label>
          </br>
          <input data-mirror type="text" class=" fs-hide mdl-textfield__input" name="billingInfo[phone]" id="billing_phone" value="{{ billingInfo.phone }}" 
          <span class="error small text-danger"></span>
        </div>
        <div class="small-12 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label  class="mdl-textfield__label"  for="billing_address">Address *</label>
          </br>
          <input data-mirror type="text" class=" fs-hide mdl-textfield__input" id="billing_address" name="billingInfo[streetAddressLine1]" value="{{ billingInfo.streetAddressLine1 }}" />
          <span class="error small text-danger"></span>
        </div>
        <div class="small-12 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label  class="mdl-textfield__label"  for="billing_address">Address 2</label>
          </br>
          <input data-mirror type="text" class=" fs-hide mdl-textfield__input" id="billing_address" name="billingInfo[streetAddressLine2]" value="{{ billingInfo.streetAddressLine2 }}" placeholder="Suite # 555"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label  class="mdl-textfield__label" for="billing_city">City *</label>
          </br>
          <input data-mirror type="text" class=" fs-hide mdl-textfield__input" name="billingInfo[city]" id="billing_city" value="{{ billingInfo.city }}" placeholder="Vancouver"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label  class="mdl-textfield__label"  for="billing_postalCode">Postal Code *</label>
          </br>
          <input data-mirror type="text" class=" fs-hide mdl-textfield__input" id="billing_postalCode" name="billingInfo[postalCode]" value="{{ billingInfo.postalCode }}" placeholder="A1B2C3"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="billing_country"  class="mdl-textfield__label hide" >Country</label>
          <!--
            The state selector updates automatically when the country changes.
            See app.js for the implementation details.
            -->
            <select data-mirror id="billing_country" class="chzn-select " name="billingInfo[countryId]" data-state-selector="#billing_state" data-current-state="{{ billingInfo.stateId }}">
            {% for country in countries %}
            <option {{ option_state(billingInfo.countryId, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
            </select>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="billing_state" class="hide">State</label>
            <select data-mirror id="billing_state" class="chzn-select " name="billingInfo[stateId]" data-ajax-refresh>
            {{ partial('shop-stateoptions', {'states': billingStates, 'selected': billingInfo.stateId}) }}
            </select>
          <span class="error small text-danger"></span>
        </div>

      </div>
    </div>

    <div class="small-12 medium-12" id="mobile-shipping">
      <p id="title-p-d">Shipping Address |
          <a data-toggle-mirror="on" class="btn-form-mirror">
            <span class="fa-stack">
              <i class="fa fa-square-o fa-stack-2x" style="visibility:visible"></i>
              <i class="fa fa-check fa-stack-1x" style="visibility:visible" id="check-box"></i>
            </span>
            Same as Billing Address
          </a>
      </p>


      <div id="shipping-info">
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_firstName" class="mdl-textfield__label" >First Name *</label>
          </br>
          <input  data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[firstName]" id="shipping_firstName" value="{{ shippingInfo.firstName }}" placeholder="First Name"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_lastName" class="mdl-textfield__label" >Last Name *</label>
          </br>
          <input data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[lastName]" id="shipping_lastName" value="{{ shippingInfo.lastName }}" placeholder="Last Name"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_phone" class="mdl-textfield__label" >Phone Number *</label>
          </br>
          <input data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[phone]" id="shipping_phone" value="{{ shippingInfo.phone }}" placeholder="(012) 345-6789"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-12 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_address" class="mdl-textfield__label" >Address *</label>
          </br>
          <input data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[streetAddressLine1]" id="shipping_address"  value="{{ shippingInfo.streetAddressLine1 }}" placeholder="123 Example Dr"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-12 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_address" class="mdl-textfield__label" >Address 2</label>
          </br>
          <input data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[streetAddressLine2]" id="shipping_address"  value="{{ shippingInfo.streetAddressLine2 }}" placeholder="Suite # 555"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_city" class="mdl-textfield__label" >City *</label>
          </br>
          <input data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[city]" id="shipping_city" value="{{ shippingInfo.city }}" placeholder="City"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label for="shipping_postalCode" class="mdl-textfield__label">Postal Code *</label>
          </br>
          <input data-mirror type="text" class="mdl-textfield__input disabled" name="shippingInfo[postalCode]" id="shipping_postalCode" value="{{ shippingInfo.postalCode }}" placeholder="Zip Code"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6 ">
          <label for="shipping_country" class="hide">Country</label>
            <select data-mirror id="shipping_country" class="chzn-select  disabled" name="shippingInfo[countryId]" data-state-selector="#shipping_state" data-current-state="{{ shippingInfo.stateId }}" >
            {% for country in countries %}
            <option {{ option_state(shippingInfo.countryId, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
            </select>
          <span class="error small text-danger"></span>
        </div>
        <div class="small-6">
          <label for="shipping_state" class="hide">State</label>
            <select data-mirror id="shipping_state" class="chzn-select  disabled" name="shippingInfo[stateId]" data-ajax-refresh >
            {{ partial('shop-stateoptions', {'states': shippingStates, 'selected': shippingInfo.stateId}) }}
            </select>
          <span class="error small text-danger"></span>
        </div>

      </div>
    </div>

    <div class="medium-6">
    {% if not customer %}
      <div class="row">
          <div class="medium-6 columns">

            <label for="password">Password</label>
            <input type="password" name="billingInfo[password]" class="" id="password" value="" />
            <span class="error"></span>
          </div>
          <div class="medium-6 columns">
            <label for="password_confirmation">Password confirmation</label>
            <input type="password" name="billingInfo[password_confirmation]" class="" id="password_confirmation" value=""/>
            <span class="error"></span>
          </div>
          <div class="medium-6 columns">
            <input type="checkbox" name="accepts_marketing" id="accepts_marketing" checked/>
            <label for="accepts_marketing">Recieve promotional emails</label>
          </div>

          <div class="medium-12">
            <div class="medium-12 user-id">
              <p>In order to subscribe to or purchase products from cheesemix you will need a user account with password.</p>
              <p>Already a subscriber of cheesemix? Login <a href="/login">Here</a></p>
            </div>
          </div>
        </div>
      </div>

    {% endif %}
  </div>

    <div class="small-12">
        {% if step == 'billing_info' %}
           <br><br>
          <a class="btn-mix data-ajax-url" data-ajax-handler="shop:checkout" data-ajax-update="#checkout-page=shop-checkout, #checkout-totals=shop-checkout-totals" data-hash="step-3">Proceed to Billing</a>
        {% else %}

        {% endif %}
        {{ inputs }}
    </div>
  {{ close_form() }}
</div>
</div>
</div>




<!-- PAYMENT METHOD -->

<div class="checkout-tab" id="shop-pay">
  <div class="checkout-tab-bar row">
    <div class="medium-6 columns">
      <p>
        {% if step == 'billing_info' %}
          <i class="fa fa-circle-thin"></i>
        {% elseif step == 'pay' %}
          <i class="fa fa-circle-thin"></i>
        {% endif %}
        Step 3: Payment Method
      </p>
    </div>
    <div class="medium-6 columns text-right">
      {% if step == 'billing_info' %}
        <span class="status">Fill out Billing Info</span>
      {% elseif step == 'pay' %}
        <span class="status">In Progress</span>
      {% endif %}
    </div>
  </div>
</div>

{% if step == 'billing_info' %}
  <div class="checkout-content">
{% elseif step == 'pay' %}
  <div class="checkout-content checkout-open">
{% endif %}
<div id="shop-checkout-payment-method" class="medium-12 row">
{% if cart %}
    <div class="medium-12">
        <p id="title-p-d">Select a Payment Method</p>
      {% if step == 'billing_info' %}
        <p>Please fill out billing/shipping info</p>
      {% elseif step == 'shipping_method' %}
        <p>Please choose a shipping method</p>
      {% elseif order.payment_processed %}
        <p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
      {% else %}
        {% set paymentMethod = false %}
        <div id="payment_method">
          <div class="medium-12 columns">
            {{ open_form({'class': 'custom'}) }}
                {% for method in paymentMethods %}
                    {% if loop.index == 1 %}
                        {% set paymentMethod = method %}
                        <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" checked="checked"/>
                        <label for="payment-method{{ method.id }}" class="choice-title h6"> {{ method.name }} </label>

                    {% else %}

                        <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" />
                        <label for="payment-method{{ method.id }}" class="choice-title h6"> {{ method.name }} </label>

                    {% endif %}
                {% endfor %}
            </form>
          </div>
        </div>

        <div id="payment_form">
            {% if paymentMethod is defined %}
                {% set name = paymentMethod.getFrontendPartialName() %}
                {{ partial(name, {paymentMethod: paymentMethod, payment: payment}) }}
            {% else %}
              {% set message = payment_method.pay_offline_message() %}
              {% if message %}
                <p>{{ message }}</p>
              {% else %}
              {% endif %}
            {% endif %}
        </div>

      {% endif %}
    </div>
{% else %}
  <p class="flash error">Order not found.</p>
{% endif %}
</div>
</div>
</div>

<div class="medium-12">
<div class="checkout-tab" id="shop-cart">
  <div class="checkout-tab-bar row">
    <div class="medium-6 columns">
      <p>Items</p>
    </div>
  </div>
  <div class="checkout-content checkout-open">
  {{ partial('shop-cart-checkout', {'edit_cart': false}) }}
  <hr>
  <span id="checkout-totals" class="text-right">{{ partial('shop-checkout-totals') }}</span>
  </div>
</div>
</div>


</div>
</div>




