

{{ open_form({'data-ajax-handler': 'shop:onUpdateCustomerProfile', 'class': 'custom clearfix', 'data-ajax-update': "#customer-details=shop-customerprofile", 'data-validation-message' : 'Thank you for updating your profile. Cheesemix loves you!'}) }}

<input type="hidden" name="billing[id]" value="{{ billing.id }}" />
  
  <h2 class="space-bottom">Your profile information</h2>
  <div id="billing-info" class="panel-collapse collapse in col-md-6 text-left">
    <div class="panel-body row">
        
        <div id="profile-flash" class="notfication" >

        <p class="custom-msg" style="font-size:0;visibility:hidden;">
        Thank you for updating your profile {{customer.first_name }}</p>

        {{ flash() }}
        
        </div>
        <script>

          $( document ).ajaxSuccess(function( event, request, settings ) { 
            if ( $( '#profile-flash > .success' ).length ) { 
              var customMsg = $( '.custom-msg' ).text(); 
              $( '#profile-flash > .success' ).text(customMsg); 
            } 
          })

        </script>
        <div class="col-sm-6 form-group">
          <label for="first_name">First Name</label>
          <input name="billing[first_name]" id="first_name" type="text" class="form-control" value="{{ billing.first_name }}"  placeholder="first name*"/>
          <span class="error"></span>
        </div>
        
        <div class="col-sm-6 form-group">
          <label for="last_name">Last Name</label>
          <input name="billing[last_name]" id="last_name" type="text" class="form-control" value="{{ billing.last_name }}" placeholder="last name*"/>
          <span class="error"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="phone">Mobile Number</label>
          <input data-mirror type="text" name="billing[phone]" id="phone" value="{{ billing.phone }}" class="form-control" placeholder="Mobile number"/>
          <span class="error"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="email">Email</label>
          <input type="text" name="billing[email]" id="email" value="{{ customer.email }}" class="form-control" placeholder="Email*" />
          <span class="error"></span>
        </div>
        
      
    </div>
  </div>

  <div id="shipping-info" class="panel-collapse collapse in col-md-6 text-left">
    <div class="panel-body row">
   
     
    </div>
  </div>

  <div class="col-xs-12 form-group">
    <input type="submit" class="btn-mix dash" value="Save Profile"/>
    <input type="hidden" name="flash" value="Your profile has been successfully updated."/>
    <input type="hidden" name="redirect" value="{{ root_url('/profile') }}"/>
  </div>

</form>