/*

Write your custom css here

*/

body{}
.mdl-layout_header {
	background-color: rgb(255, 255, 255) !important;
}




/*======================================================
		Login, Register and Checkout Pane
======================================================*/

.error.small.text-danger {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    color: #fff !important;
    background-color: #ee7d7d;
}

.error.small.text-danger span {
    font-size: 20px;
    line-height: 5.2vh;
}

#title-p {
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
}

.mdl-logo img {
    width: 100px;
}


.mdl-textfield__input {
    font-family: "Karla", sans-serif;
    border-radius: 8px;
    padding: 20px !important;
    background: #f4f4f4 !important;
}

.mdl-textfield__label {
	top: 14px !important;
}

.mdl-switch.is-upgraded {
    padding-bottom: 50px;
}

.mdl-textfield {
    width: 100% !important; 
}

.mdl-mini-footer {
    background-color: #f2f2f2 !important;
    padding: 0px 0px !important;
}


.widget-153791 .vex-content input:not([type="checkbox"]), 
.widget-153791 .vex-content textarea, 
.widget-153791 .vex-content select {
    border-radius: 8px !important;
}


.vex.vex-theme-default 
.vex-close:before {
    font-size: 60px !important;
    height: 40px !important;
    width: 40px !important;
}



.mdl-button {
    font-family: "Karla",sans-serif !important;
    font-weight: 600 !important;
    line-height: 30px !important;
}


nav.fright {
    float: right;
}


.mdl-layout__header 
.mdl-layout__drawer-button {
    color: rgb(40, 37, 56) !important;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(256,256,256, 0.0) !important;
    color: #ffc711 !important;
}


.mdl-layout__drawer .mdl-navigation .vex-close:before {
    font-family: Arial, sans-serif;
    content: "\00D7";
    font-size: 2em;
}

 

.mdl-layout__title, .mdl-layout-title {
    font-family: "Karla", sans-serif !important;
}






.quality-cheese {
    position: relative;
    margin: 0 auto;
    height: 100%;
    background: #8695BF;
    border-bottom: 1px solid #f1f1f1;
    padding: 35vh 0;
}

.quality-cheese h1 {
    color: #fff;
}

.quality-cheese p {
    color: #fff;
    font-size: 1.5rem;
}