html{
	background: #f0f0e8;
	background:white;
}
body{
	font-family: 'Karla', sans-serif;
	margin: 0 auto;
	padding-top: 0px;
}

a {
    color: rgb(52, 38, 128);
    text-decoration: none;
}

a:hover {
    color: #282538;
}

h1, h2 {
    font-family: "Karla", sans-serif;
}
