---
action: 'shop:receipt'
template: template-1
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---

<div class="jumbotron row">
{% if invoice %}
	<div class="row">
		<div class="col-xs-12">
			<p id="title-p-d">Please keep this information for your records.</p>
		</div>			
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-9">
			<div class="items-holder">
				{{ partial('shop-invoiceitems') }}
			</div>
		</div>
	{% if invoice.isPaid() %}
		<div class="col-md-12 col-lg-3">
			<div class="right-sidebar">
			<p><strong>Order number: </strong> #{{ invoice.order.number }} </p>
			<p><strong>Payment method: </strong> {{ payment.guessPaymentMethod().name }}</p>
			<p><strong>Order Date: </strong> {{ invoice.order.created_at.format('M jS, Y') }}</p>


			{{ partial('shop-invoicetotals') }}
				<div class="right">
					<a class="btn btn-default" href="{{ site_url('shop') }}">Continue Shopping</a>
				</div>
			</div>
		</div>


	{% else %}
		<p><a class="md-button button" style="margin-top:10px;" href="{{ site_url('review/'~order.order_hash) }}">Pay the order</a></p>
	{% endif %}
	</div>
{% else %}
		<p class="flash error">Invoice not found.</p>
	</div>
{% endif %}
</div>




<div
  id="refcandy-popsicle"
  data-app-id="ig010jsafuv0ws0y3ltp06qti"
  data-fname="John"
  data-lname="Smith"
  data-email="daf@cheesemix.com"
  data-amount="10.99"
  data-currency="USD"
  data-timestamp="1490165398"
  data-external-reference-id="93211001"
  data-signature="f1a961d94c439a7540a8368e4f42b2d6"
></div>
<script>(function(e){var t,n,r,i,s,o,u,a,f,l,c,h,p,d,v;z="script";l="refcandy-purchase-js";c="refcandy-popsicle";p="go.referralcandy.com/purchase/";t="data-app-id";r={email:"a",fname:"b",lname:"c",amount:"d",currency:"e","accepts-marketing":"f",timestamp:"g","referral-code":"h",locale:"i","external-reference-id":"k",signature:"ab"};i=e.getElementsByTagName(z)[0];s=function(e,t){if(t){return""+e+"="+encodeURIComponent(t)}else{return""}};d=function(e){return""+p+h.getAttribute(t)+".js?lightbox=1&aa=75&"};if(!e.getElementById(l)){h=e.getElementById(c);if(h){o=e.createElement(z);o.id=l;a=function(){var e;e=[];for(n in r){u=r[n];v=h.getAttribute("data-"+n);e.push(s(u,v))}return e}();o.src=""+e.location.protocol+"//"+d(h.getAttribute(t))+a.join("&");return i.parentNode.insertBefore(o,i)}}})(document);</script>

 

