---
action: 'shop:updateStoredCard'
template: template-2
protocol: all
published: true
name: Update Billing
url: /dashboard/billing
---
<div class="no-padding row">
    <div class="medium-12 text-center">
        {% if customer %}
            <h1>Update Stored Billing Information</h1>
        {% else %}
            <h1>Whoops! Login First</h1>
        {% endif %}

    </div>
</div>

<div class="row">
  <div class="content twelve columns">
    {% if not paymentMethod %}
        <p class="no-saved-payment">There are no payment methods that support stored credit cards.</p>
    {% else %}
        {{ flash() }}
        <div id="payment_form">
            {% set name = paymentMethod.getFrontendStoredCardPartialName() %}
            {{ partial(name, {paymentMethod: paymentMethod}) }}
        </div>
    {% endif %}
  </div>
</div>