---
template: dashboard
protocol: all
published: true
name: My Account
url: /dashboard/my-account
---

<div class="row">
    <div class="small-12">
    <div class="welcome">

        {% if customer %}
            <h1>Welcome {{customer.first_name}}!</h1>
        {% else %}
            <h1>Whoops! Login First</h1>
        {% endif %}

        </div>
    </div>
</div>

<div class="jumbotron row">
    {% if customer %}
    
    <div class="panel-group checkout-accordions text-center" id="profile-addresses">
        {{ partial('shop-customerprofile') }}
    </div>      
    
{% else %}
    

  <div class="row">Please <a href="{{ root_url('login') }}">login</a> to edit your profile.</div>
{% endif %}
</div>
