---
action: 'shop:customerProfile'
template: dashboard
protocol: all
published: true
name: My Account
url: /dashboard/my-account/profile
---

{% if not customer %}
    {% if page.name in ["my-account"]  %}
        <style>
            html {
                display: none;
            }
        </style>
        <meta http-equiv="refresh" content="0; url={{ site_url('/login') }}"/>
    {% endif %}
{% endif %}



<div class="dashboard-content">
 

<div class="panel-body">
    {% if customer %}
    
    <div class="panel-group checkout-accordions text-center" id="customer-details">
        {{ partial('shop-customerprofile') }}
    </div>      

</div>
     {% endif %}
</div>

</div>
</div>

